<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>Servicios</h3></div>

    <table class="table">
    <thead>
        <tr>
        <th>Nombre</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @servicios.each do |servicio| %>
        <tr>
            <td><%= servicio.nombre %></td>
            <td><%= link_to 'Ver', servicio %></td>
            <td><%= link_to 'Editar', edit_servicio_path(servicio) %></td>
            <td><%= link_to 'Eliminar', servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>
<br>

<%= link_to 'Nuevo Servicio', new_servicio_path %>
