
<%= simple_form_for(@ip) do |f| %>
    <% if @ip.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ip.errors.count, "error") %> Crear una IPS:</h2>
          <ul>
          <% @ip.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <%= f.input :nombre%>
      <%= f.input :longitud%>
      <%= f.input :latitud%>
      <%= f.input :horario_atencion%>
      <%= f.input :direccion%>
      <%= f.association :eps,  :as => :check_boxes %>
    
      <%= f.button :submit %>
   
<% end %>