<%# app/views/ips/_list.html.erb %>
<div id="filterrific_results">
<div class="panel panel-default">
  <!-- Default panel contents -->

    <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Horario atencion</th>
        <th>Direccion</th>
      </tr>
    </thead>

    <tbody>
      <% @ips.each do |ip| %>
        <tr>
          <td><%= ip.nombre %></td>
          <td><%= ip.horario_atencion %></td>
          <td><%= ip.direccion %></td>
          <td><%= link_to 'Ver', ip %></td>
          <td><%= link_to 'Editar', edit_ip_path(ip) %></td>
          <td><%= link_to 'Borrar', ip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd8AmZ9AKjXd1EdKQnhtB4WcAudJwMHpg"
  type="text/javascript"></script>
  
  <script src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false" type="text/javascript"></script>
<script>
    

    
    var myCenter;
    var latitud;
    var longitud;
    var nombre;
    var eps;
    var servicios;
    var direccion;
    var horario;
    
    
    
    
    function localizame() {
            if (navigator.geolocation) { /* Si el navegador tiene geolocalizacion */
                navigator.geolocation.getCurrentPosition(coordenadas);
            }else{
                alert('Oops! Tu navegador no soporta geolocalización. Bájate Chrome, que es gratis!');
            }
        }
        
        function coordenadas(position) {
            latitud = position.coords.latitude; /*Guardamos nuestra latitud*/
            longitud = position.coords.longitude; /*Guardamos nuestra longitud*/
            var minimo = 0;
            var ubicacionUsuario = new google.maps.LatLng(latitud, longitud);
            <% @ips.each do |ip| %>
            var punto = new google.maps.LatLng(<%= ip.latitud %>,<%= ip.longitud %>);
            var distancia = google.maps.geometry.spherical.computeDistanceBetween(ubicacionUsuario, punto); 
            if(minimo == 0){
                minimo = distancia;
            }
            if(distancia < minimo){
                minimo = distancia;
                alert
                nombre = "<%= ip.nombre %>";
                eps = "<%= ip.eps.map {|x| x.to_label}.join ', ' %>";
                servicios = "<%= ip.servicios.map {|x| x.to_label}.join ', ' %>";
                horario = "<%= ip.horario_atencion %>";
                direccion = "<%= ip.direccion %>";
                myCenter = new google.maps.LatLng(<%= ip.latitud %>,<%= ip.longitud %>);
            }
            <% end %>
      
            initialize();
        }
    
    function initialize() {
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer(); //directions
    
        var mapProp = {
            center:myCenter,
            zoom:15,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        
        var infowindow = new google.maps.InfoWindow({
        content: ""+nombre
                    +"<br>"+horario
                    +"<br>"+direccion
                    +"<br><b>EPS</b>"
                    +"<br>"+eps
                    +"<br><b>Servicios</b>"
                    +"<br>"+servicios
        });

        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var marker=new google.maps.Marker({
            position:myCenter,
            //animation:google.maps.Animation.BOUNCE,
        });

        marker.setMap(map);
        
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
        });
        
        //Marcador de usuario
        var markerUsuario = new google.maps.Marker({
            position: new google.maps.LatLng(latitud,longitud),
            //animation:google.maps.Animation.BOUNCE,
        });
        var infowindowUsuario = new google.maps.InfoWindow({
        content: "tu"
        });
        
        markerUsuario.setMap(map);
        google.maps.event.addListener(markerUsuario, 'click', function() {
            infowindowUsuario.open(map,markerUsuario);
        });
        
        //directions
        
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directions-panel'));
        
        var start = new google.maps.LatLng(latitud,longitud)
        var end = myCenter;
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            }
        });
        
    }


    google.maps.event.addDomListener(window, 'load', localizame);
    
    //calcular distancias 
    //http://www.funcion13.com/calculando-distancias-y-areas-con-google-maps-v3/
</script>



<div id="googleMap" style="width:700px;height:600px;"></div>
<div id="directions-panel"></div>

