<p id="notice"><%= notice %></p>

 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>IPS</h3></div>

    <table class="table">
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Horario atencion</th>
        <th>Direccion</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @ips.each do |ip| %>
        <tr>
            <td><%= ip.nombre %></td>
            <td><%= ip.horario_atencion %></td>
            <td><%= ip.direccion %></td>
            <td><%= link_to 'Ver', ip %></td>
            <td ><%= link_to 'Editar', edit_ip_path(ip) %></td>
            <td><%= link_to 'Eliminar', ip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>
<br>

<%= link_to 'Nueva IPS', new_ip_path %>
