<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ip.nombre %>
</p>

<p>
  <strong>Horario atencion:</strong>
  <%= @ip.horario_atencion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @ip.direccion %>
</p>

<p>
    <b>EPS</b>
    <%= @ip.eps.map {|x| x.to_label}.join ', ' %>
</p>

<p>
    <b>Servicios</b>
    <%= @ip.servicios.map {|x| x.to_label}.join ', ' %>
</p>

<%= link_to 'Edit', edit_ip_path(@ip) %> |
<%= link_to 'Back', ips_path %>
